 
@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_ControlPanel.cshtml";
}
<script type="text/javascript">
    jQuery(function ($) {
        $("#frm").submit(function () {
            if ($("#newpasswrod").val() != $("#confirmpassword").val()) {
                alert("两次密码不一致！");
                return false;
            }
            if (!$("#newpasswrod").val() || !$("#confirmpassword").val() || !$("#oldpassword").val()) {
                alert("密码修改失败，旧密码或者新密码为空!");
                return false;
            }
            else if ($("#newpasswrod").val().length < 6 || $("#newpasswrod").val().length > 16) {
                alert("密码修改失败，新密码长度必须在6~16位字符!");
                return false;
            }
            //            return false;
        });
    });
</script>
<style type="text/css">
    .time {
        border: 1px solid #AAA;
        padding: 3px;
    }

    #tags li {
        border: 0px solid #DDDDDD;
    }
</style>
<div class="usercontent">
    <ul id="tags">

        <li><a href="@Url.Action("myinfo")">基本资料</a> </li>
         

        <li class="selectTag"><a href="javascript:;">修改密码</a> </li>
        <div class="clr">
        </div>
    </ul>
    <div class="clr">
    </div>
</div>
<div class="msgWrap">
    <form method="post" id="frm" action="/controlpanel/changepassword" enctype="multipart/form-data">
        <div class="msgWrap">
            <table class="userinfoArea" border="0" cellspacing="0" cellpadding="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            原始密码：
                        </th>
                        <td>
                            <input type="password" required="" class="px" name="oldpassword" id="oldpassword"
                                   value="" tabindex="1" size="25" />
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            新密码：
                        </th>
                        <td>
                            <input type="password" required="" class="px" name="newpasswrod" id="newpasswrod"
                                   value="" tabindex="1" size="25" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            新密码确认：
                        </th>
                        <td>
                            <input type="password" required="" class="px" name="confirmpassword" id="confirmpassword"
                                   value="" tabindex="1" size="25" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                        </th>
                        <td>
                            <button type="submit" class="btnGreen" id="saveSetting">
                                修改密码
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
